################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeeManagementGraphQL/bin/Debug/net8.0
/EmployeeManagementGraphQL/obj
